# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Streamlit
.streamlit/secrets.toml

# API kalitlar
credentials/
*.pickle
!package.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Output
output/
temp/
*.mp4
*.mp3
*.wav
